@charset "UTF-8";


body {
    background-color: rgb(88, 37, 37);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
h1 {
    color: blue;
    background-color: rgb(174, 71, 71);
}
h2 {
    color: rgb(146, 18, 103);
}
p {
    text-align: justify;
}